html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}
canvas {
  display: block;
}

.up,.down{
  color: white;
}
.selectItem{
  display: flex;
  height: 292px;
  padding: 28px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 28px;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
  
  
}

svg{
  background-color: transparent;
  border: none;
}
#selectMenu{
width: Fixed (353px)px;
height: Hug (622.6px)px;
top: 148px;
left: 20px;
gap: 0px;
opacity: 0px;

}

.colorSel{
  display: flex;
width: 62px;
height: 31px;
padding: 28px 24px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 12px;
flex-shrink: 0;
border-radius: 28px;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
border: none;
}
#colorSelection{
  display: flex;
width: 337px;
justify-content: space-between;
align-items: flex-start;
}

#canvasContainer{
width: 353px;
height: 530px;
flex-shrink: 0;
border-radius: 28px;
overflow: hidden;

}